.container__form {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container__form-div {
  line-height: 30px;
  position: relative;
}

.container__form-label {
  display: block;
  margin-top: 13px;
}

.form__input {
  width: 100%;
  padding: 15px;
  outline: none;
  font-family: var(--principalFont);
  border: 1px solid var(--grey-200);
  border-radius: 8px;
  margin-bottom: 5px;
}

.container__form-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input__error {
  border: 1px solid #d70303;
}

.form__error {
  color: #d70303;
  font-size: 12px;
  position: absolute;
  bottom: -25px;
  left: 5px;
}

.container__form-btn-container {
  display: flex;
  justify-content: center;
}

.container__form-btn {
  background-color: var(--primary-100);
  border: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  margin-top: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.container__form-btn:hover {
  background-color: var(--primary-200);
}

.container__form-label-checkbox {
  margin: 0 50px;
  position: relative;
  top: 10px;
}

.container__form-btn-return {
  background-color: white;
  border: 1px solid var(--primary-100);
  color: var(--primary-100);
  padding: 15px;
  font-size: 20px;
  margin-top: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 12px;
}

/* Formulario, datos enviados */
.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
}

.profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.container__form-btn-return:hover {
  background-color: var(--primary-200);
}

.container__form-exit {
  color: var(--primary-200);
  font-size: 15px;
  text-align: center;
}

/* responsive design */

@media only screen and (max-width: 768px) {
  .container__form {
    height: auto;
    padding: 10px;
    margin-top: 50px;
  }

  .container__form-div {
    margin-bottom: 20px;
  }

  .container__form-sub {
    gap: 10px;
    display: block;
    width: 300px;
  }

  .container__form-btn-return {
    margin-right: 0;
  }

  .container__form-btn-container {
    gap: 15px;
  }
}

/* Progress bar */

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.progress-bar-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--grey-200);
  margin-right: 10px;
}

.progress-bar-circle.filled {
  background-color: var(--primary-100);
}
.container__form-exit {
  color: var(--primary-200);
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
